<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeCard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TimeCard.My.MySettings.TimeCardConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TimeCard.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <TimeCard.My.MySettings>
            <setting name="DBFile" serializeAs="String">
                <value>TimeCard.mdb</value>
            </setting>
            <setting name="NumberFormat" serializeAs="String">
                <value>0.000</value>
            </setting>
            <setting name="NumberOfDecimals" serializeAs="String">
                <value>3</value>
            </setting>
        </TimeCard.My.MySettings>
    </userSettings>
</configuration>
